.wrapper {
  width: 500px;
  margin: 0 auto;
}

.finction__item {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  padding: 2px;
  margin-bottom: 5px;
  width: 250px;
  text-align: center;
}
